/* Estilos para el carrusel */

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;

  img {
    width: 25% !important;
    height: auto;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 50px;
  color: $color-logo;
}

.carousel-control-prev {
  margin-left: 50px;
  background-color: $color-logo;
  width: auto;
  height: 50px;
  margin-top: 160px;
}

.carousel-control-next {
  background-color: $color-logo;
  margin-right: 50px;
  width: auto;
  height: 50px;
  margin-top: 160px;
}