/* footer-------------------------------------------------------------------------------------------------- */

/* Estilos generales del footer */
footer {

  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 0px;

  background: linear-gradient(to right, $color-puro 5%, $color-logo); 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.101);
  transition: background 0.9s ease; 

  &:hover {
    background: linear-gradient(to right, $color-logo 5%, $color-puro); 
  }
}

.container-logo {
  text-align: center;
}

.logo-footer img {
  max-width: 190px;
  height: auto;
  margin-top: 30px;
}

/* Estilos para el contenido dentro del footer */
footer .social-icons a {
  color: $color-cuarto;
  font-size: 18px;
  margin: 0 10px;
}

footer h4 {
  margin-bottom: 10px;
  text-align: center;
  color: $color-cuarto;
  font-size: 22px;
}

footer p {
  color: $color-cuarto;
  text-align: center;
  font-size: 13px;
}

/* Estilos para el formulario de suscripción */
.subscribete-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.subscribete-form input {
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.subscribete-form button {
  background-color: $button-principal;
  color: $color-cuarto;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-top: -57px;
}

/* Estilos para el copyright */
.copyright span {
  font-size: 13px;
}

  

.subir {
  height: 40px;
  width: 40px;
  background-color: $button-principal;
  color: $button-principal;
  position: fixed;
  right: 2%;
  bottom: 2%; 
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  border-radius: 10%; 
  box-shadow: 2px 2px 5px #000;
  z-index: 3;
}

.subir svg {
  margin-top: 3px; 
  margin-left: 0px; 
  font-size: 20px;
  transform: translateX(-5%);
}
