@font-face {
    font-family:"adineue-PRO-Bold";
    src: url("../Fonts/adineue-PRO-Bold.ttf") format("truetype");
    }
@font-face {
font-family:"CormorantInfant-bold";
src: url("../Fonts/CormorantInfant-Bold.ttf");
}
@font-face {
font-family:"CormorantInfant-light";
src: url("../Fonts/CormorantInfant-Light.ttf") format("truetype");
}
@font-face {
font-family:"CormorantInfant-medium";
src: url("../Fonts/CormorantInfant-Medium.ttf") format("truetype");
}

@font-face {
font-family:"CormorantInfant-regular";
src: url("../Fonts/CormorantInfant-Regular.ttf") format("truetype");
}

@font-face {
font-family:"CormorantInfant-semibold";
src: url("../Fonts/CormorantInfant-SemiBold.ttf") format("truetype");
}
@font-face {
font-family:"JosefinSans-bold";
src: url("../Fonts/JosefinSans-Bold.ttf") format("truetype");
}
@font-face {
font-family:"JosefinSans-extralight";
src: url("../Fonts/JosefinSans-ExtraLight.ttf") format("truetype");
}
@font-face {
font-family:"JosefinSans-light";
src: url("../Fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
font-family:"JosefinSans-medium";
src: url("../Fonts/JosefinSans-Medium.ttf") format("truetype");
}
@font-face {
font-family:"JosefinSans-regular";
src: url("../Fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family:"JosefinSans-semibold";
    src: url("../Fonts/JosefinSans-SemiBold.ttf") format("truetype");
    }
    


span{
    color: #fff;
    font-size: 18px;
    font-family:"JosefinSans-medium";

}

h1{
font-family:"Adineue-PRO";
color:#fff;
font-size: 50px;


}

h2{
    font-family:"Adineue-PRO";
    font-size: 40px;

}

h3{
    font-family:"Adineue-PRO";
font-size: 30px;
}

h4 {
    font-family:"Adineue-PRO";
font-size: 20px;

}
h5{
    font-family:"Adineue-PRO";
font-size: 18px;
}

h6{
    font-family:"Adineue-PRO";
font-size: 13px;
}

p{
font-family: "CormorantInfant-semibold";
color: #fff;
font-size: 20px;

}

a {
font-family: "JosefinSans-regular";
}

.btn{
    font-family: "JosefinSans-semibold";
}



.button{
    font-family: "JosefinSans-semibold";
}

li a{
font-family: "JosefinSans-medium";
font-size:18px;
}
