@font-face {
    font-family: "Gilroy-light";
    src: url("../Fonts/Gilroy-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../Fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../Fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../Fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../Fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Extrabold";
    src: url("../Fonts/Gilroy-ExtraBold.ttf") format("truetype");
}


@font-face {
    font-family: "Gilroy-SemiBoldItalic";
    src: url("../Fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-Thin";
    src: url("../Fonts/Gilroy-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy-RegularItalic";
    src: url("../Fonts/Gilroy-RegularItalic.ttf") format("truetype");
}


span {
    color: #fff;
    font-size: 18px;
    font-family: "JosefinSans-medium";

}

h1 {
    font-family: "Adineue-PRO";
    color: #fff;
    font-size: 50px;


}

h2 {
    font-family: "Adineue-PRO";
    font-size: 40px;

}

h3 {
    font-family: "Adineue-PRO";
    font-size: 30px;
}

h4 {
    font-family: "Adineue-PRO";
    font-size: 20px;

}

h5 {
    font-family: "Adineue-PRO";
    font-size: 18px;
}

h6 {
    font-family: "Adineue-PRO";
    font-size: 13px;
}

p {
    font-family: "CormorantInfant-semibold";
    color: #fff;
    font-size: 20px;

}

a {
    font-family: "JosefinSans-regular";
}

.btn {
    font-family: "JosefinSans-semibold";
}



.button {
    font-family: "JosefinSans-semibold";
}

li a {
    font-family: "JosefinSans-medium";
    font-size: 18px;
}