.container-arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.container-abajo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Estilos del logotipo */

.navbar-brand img {
  max-height: 50px;
  margin-top: 20px;
  margin-left: 60px;
}

.botones-1 {
  margin-left: 0px;
  transform: translateX(83%);
  max-width: 100%;
}

/* Estilos del botón de navegación en pantallas pequeñas */

.navbar-toggler {
  border: 0;
  background-color: $color-cuarto;
}

.dropdown {
  background-color: transparent;
  margin-top: 25px;
}

.nav-item-2 {
  margin-top: 25px;
}

.dropdown-menu {
  background: linear-gradient(to right, $color-puro 30%, $color-logo); 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease; 
  width: 100%;
}

/* Estilos para el Top Nav */

#navbar-1_nav_top {
  background-color: $color-principal !important;

  .container {
    color: $color-cuarto;
  }

  a {
    color: $color-cuarto !important;
  }
}

.redes-sociales {
  margin-top: 30px;
  font-size: 18px;
  margin-right: 60px;
}

#navbar-1_nav_top a:hover {
  text-decoration: none;
  color: $color-Bordes !important;
}

.btn-support {
  color: $color-cuarto;
  border-color: $color-cuarto;
  margin-right: 0px;

  &:hover {
    background-color: $color-Botton-correo;
    color: $color-cuarto;
  }
}

.bton-Whatsapp {
  color: $color-cuarto;
  border-color: $color-cuarto;
  margin-left: -10px;

  &:hover {
    background-color: $color-hover-whatsapp;
    color: $color-cuarto;
  }
}

/* Estilos para el Header */

.navbar {
  background: linear-gradient(to right, $color-puro 10%, $color-logo); 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.058);
  transition: background 0.3s ease; 

  &:hover {
    background: linear-gradient(to right, $color-puro 10%, $color-logo); 
  }
}

.navbar-toggler-icon {
  color: $color-cuarto;
}

.navbar-nav .nav-link {
  color: $color-cuarto;
  margin-left: 40px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: $color-Bordes;
}


.sections-1 {
  margin-right: 280px;
  width: 100%;
  background-color: transparent;
  transform: translateX(1%);
}