/** btn colores y variaciones */

@mixin submit-button() {
    background-color: $color-logo;
    color: $color-cuarto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $color-Secundario;
    }
  }

  @mixin menu-categorias($list-style: none, $justify-content: center, $margin: 20px 0, $padding: 10px 0, $li-margin: 0 10px, $link-bg: rgba(0, 0, 0, 0.202), $link-color: $color-cuarto, $link-padding: 10px 20px, $link-border-radius: 5px, $link-transition: background-color 0.3s, $link-border: 1px solid $color-cuarto, $link-hover-bg: $color-Bordes) {
    list-style: $list-style;
    display: flex;
    justify-content: $justify-content;
    margin: $margin;
    padding: $padding;
  
    li {
      margin: $li-margin;
    }
  
    a {
      text-decoration: none;
      background-color: $link-bg;
      color: $link-color;
      padding: $link-padding;
      border-radius: $link-border-radius;
      transition: $link-transition;
      border: $link-border;
  
      &:hover {
        background-color: $link-hover-bg;
      }
    }
  }






