/** btn colores y variaciones */

@mixin btncolorvariation($color-logo, $color-bordes, $color-main, $color-secundario) {
    & {
        --#{$prefix}-btn-bg: #{$color-logo};
        --#{$prefix}-btn-color: #{$color-main};
        --#{$prefix}-btn-hover-bg: #{$color-bordes};
        --#{$prefix}-btn-hover-color: #{$color-secundario}; 

        &.btn-outline {
            --#{$prefix}-btn-bg: transparent;
            --#{$prefix}-btn-color: #{$color-logo};
            --#{$prefix}-btn-hover-bg: #{$color-bordes};
            --#{$prefix}-btn-hover-color: #{$color-secundario};
        }

        &.btn-plain {
            --#{$prefix}-btn-bg: transparent;
            --#{$prefix}-btn-color: #{$color-logo};
            --#{$prefix}-btn-hover-bg: #{$color-bordes};
        }
    }
}

// Uso del mixin
.submit button {
    @include btncolorvariation($color-logo-submit, $color-bordes-submit, $color-main-submit, $color-secundario-submit);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-secundario-submit;
    }
}




/** breakpoint mediaquery */
@mixin break-up ($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoints)) {
            @content;
        }
    }

    @else {
        @warn "`#{$breakpoints}` no es un breakpoint válido. Puedes intentar con: #{map-keys($breakpoints)}.";
    }
}

@mixin sm() {
    @include break-up(sm) {
        @content;
    }
}

@mixin md() {
    @include break-up(md) {
        @content;
    }
}

@mixin lg() {
    @include break-up(lg) {
        @content;
    }
}

@mixin xl() {
    @include break-up(xl) {
        @content;
    }
}