* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solidn1px red;
   
}

body {
 
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.row {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
video {
    max-width: 100%;
    height: auto;
}