* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    overflow-x: hidden;
    background-color: purple;
    max-width: 1200px;
    margin: 0;
    box-sizing: border-box;
  }
  





video {
    max-width: 100%;
    height: auto;
}
  