// Variables
$color-principal: #1F242C;
$color-puro: #000000;
$color-main: #292E36;
$color-Secundario: #af8546;
$color-Terciario: #4CAF50;
$color-hover-whatsapp: #248e27;
$color-cuarto: #ffffff;
$color-Bordes: #E1B168;
$color-logo: #B43123;
$color-rojo-puro: #ff1900;
$box-shadow: #000;
$color-Botton-correo: #0072c6;
$button-principal: #E1B168;
$button-cancel: #B43123;
$button-disabled: #292E36;
$size-encabezados: 40px;
$size-parrafos: 16px;

// Estilos utilizando las variables
.btn-primary {
  background-color: $button-principal !important;
  border-color: $color-cuarto;
  color: $color-cuarto;
}

.btn-primary:hover {
  background-color: $color-Secundario !important;
  border-color: $color-cuarto;
  color: $color-cuarto;

  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.664);
  transition: transform 0.3s ease, filter 0.3s ease;
  text-decoration: solid;
  
  &:hover {
   color: $color-cuarto;
    transform: scale(1.1);
    filter: saturate(1.0);

  }
}





