@charset "UTF-8";
/** Variables colores definidos */
/** Font sizes */
/** 12px */
/** 14px */
/** 16px */
/** 18px */
/** 20px */
/** 24px */
/** 30px */
/** 36px */
/** 48px */
/** 60px */
/** Font WEIGHTS  */
/**  Estilos utilizando las variables */
.btn-primary {
  background-color: #E1B168 !important;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #af8546 !important;
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.664);
  transition: transform 0.3s ease, filter 0.3s ease;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.btn-primary:hover:hover {
  color: #ffffff;
  transform: scale(1.1);
  filter: saturate(1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}

video {
  max-width: 100%;
  height: auto;
}

/** btn colores y variaciones */
/** breakpoint mediaquery */
@font-face {
  font-family: "Gilroy-light";
  src: url("../Fonts/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../Fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../Fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../Fonts/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../Fonts/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../Fonts/Gilroy-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-SemiBoldItalic";
  src: url("../Fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Thin";
  src: url("../Fonts/Gilroy-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("../Fonts/Gilroy-RegularItalic.ttf") format("truetype");
}
span {
  color: #fff;
  font-size: 18px;
  font-family: "Gilroy-Semibold";
}

h1 {
  font-family: "Gilroy-Semibold";
  color: #fff;
  font-size: 50px;
}

h2 {
  font-family: "Gilroy-Semibold";
  font-size: 35px;
}

h3 {
  font-family: "Gilroy-Medium";
  font-size: 30px;
}

h4 {
  font-family: "Gilroy-Semibold";
  font-size: 20px;
}

h5 {
  font-family: "Gilroy-Regular";
  font-size: 18px;
}

h6 {
  font-family: "Gilroy-SemiBoldItalic";
  font-size: 13px;
}

p {
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 1.125rem;
}

a {
  font-family: "Gilroy-Medium";
}

.btn {
  font-family: "Gilroy-Semibold";
}

.button {
  font-family: "Gilroy-Semibold";
}

li a {
  font-family: "Gilroy-medium";
  font-size: 18px;
}

/* Agrega más estilos según sea necesario */
.container-01 {
  background: linear-gradient(rgba(3, 1, 1, 0.587), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-fondo-principal.gif) center center/cover;
  background-color: var(--color-main);
  width: 100%;
  height: auto;
}
.container-01 h1 {
  font-size: 3rem;
  margin: 20px;
  margin-top: 60px;
  margin-left: 50px;
  padding: 10px;
  text-align: left;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.664);
  transition: transform 0.3s ease, filter 0.3s ease;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.container-01 h1:hover {
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.937);
  font-size: 3rem;
  margin-left: 70px;
  text-align: start;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #E1B168;
  transform: scale(1.1);
  filter: saturate(1.3);
}
.container-01 p {
  margin: 60px;
  text-align: left;
  line-height: 1.6;
  font-size: 1.125rem;
  margin-top: 50px;
  width: auto;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.664);
  transition: text-shadow 0.1s ease, font-size 0.1s ease, padding 0.1s ease;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.container-01 video {
  width: 40%;
  margin-bottom: 40px;
  margin-left: 35%;
}

.container-fluid-02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.888), rgba(0, 0, 0, 0.555)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.container-fluid-02 .info-ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.container-fluid-02 .info-ico img {
  width: 50px;
  margin-right: 20px;
}
.container-fluid-02 .info-ico p {
  font-size: 1.125rem;
  margin-top: -40px;
  margin-left: 90px;
}

.contenedor-info-02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.639), rgba(0, 0, 0, 0.376)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: flex;
}

.info-local {
  flex: 1;
}

.contenedor-info-local {
  flex: 1;
  padding: 0 20px;
  margin: 20px;
}

.info-text {
  text-align: left;
  margin-top: 50px;
  color: #ffffff;
}
.info-text p {
  line-height: 1.6;
  font-size: 1.125rem;
  margin-top: 10px;
}
.info-text .info-text .btn-container {
  position: fixed;
  left: 60%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
}
.info-text .info-text .btn-container button {
  display: block;
  margin: 0 auto;
  margin-left: 10px;
}

.info-local img {
  margin-bottom: 50px;
  margin-left: 50px;
  width: 300px;
  height: auto;
  margin-top: 50px;
}

.container-top-10 {
  background-image: url(../images/BG/BG-top-10.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 100%;
}

.info-textos {
  padding-top: 50px;
}
.info-textos h3 {
  text-align: center;
}
.info-textos p {
  color: #1F242C;
  text-align: center;
  font-size: 1.125rem;
}

.platos-10 {
  margin-left: auto;
}
.platos-10 img {
  width: 80%;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 120px;
}

.info-top {
  text-align: left;
  margin-top: 130px;
  margin-left: 300px;
  width: 100%;
  margin-bottom: 20px;
}
.info-top h4 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  font-size: 30px;
  color: #1F242C;
}
.info-top p {
  font-size: 1.125rem;
  margin-bottom: 20px;
  color: #1F242C;
  width: 100%;
  margin-left: 0px;
  text-align: left;
}

.contenedor-nuestros-clientes {
  text-align: center;
  padding: 50px 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  background-image: url(../images/BG/BG-restaurant.jpg);
  padding-top: 50px;
  z-index: 1;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.clientes-info {
  margin-bottom: 10px;
  margin-top: 10px;
}
.clientes-info img {
  width: 50%;
}
.clientes-info h2 {
  font-size: 2em;
  margin: 0;
  color: #ffffff;
}
.clientes-info p {
  font-size: 1.2em;
  margin: 0;
}

.tarjeta-1,
.tarjeta-2,
.tarjeta-3,
.tarjeta-4 {
  width: 300px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.528);
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: ) {
  .tarjeta-1,
  .tarjeta-2,
  .tarjeta-3,
  .tarjeta-4 {
    width: calc(50% - 8px);
  }
}
@media (min-width: ) {
  .tarjeta-1,
  .tarjeta-2,
  .tarjeta-3,
  .tarjeta-4 {
    width: calc(25% - 12px);
  }
}

.tarjeta-1 img,
.tarjeta-2 img,
.tarjeta-3 img,
.tarjeta-4 img {
  width: 35%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.contenido {
  padding: 20px;
}
.contenido h2 {
  font-size: 1.5em;
}
.contenido span {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
}
.contenido hr {
  border: 1px solid white;
  margin: 10px 0;
}
.contenido p {
  font-size: 1.125rem;
  width: 70%;
  text-align: center;
  padding-top: 10px;
  align-items: center;
  margin: auto;
}

.container-arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.container-abajo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logotipo */
.navbar-brand img {
  max-height: 50px;
  margin-top: 20px;
  margin-left: 60px;
}

.botones-1 {
  margin-left: 0px;
  transform: translateX(83%);
  max-width: 100%;
}

/* Estilos del botón de navegación en pantallas pequeñas */
.navbar-toggler {
  border: 0;
  background-color: #ffffff;
}

.dropdown {
  background-color: transparent;
  margin-top: 25px;
}

.nav-item-2 {
  margin-top: 25px;
}

.dropdown-menu {
  background: linear-gradient(to right, #000000 30%, #B43123);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  width: 100%;
}

/* Estilos para el Top Nav */
#navbar-1_nav_top {
  background-color: #1F242C !important;
}
#navbar-1_nav_top .container {
  color: #ffffff;
}
#navbar-1_nav_top a {
  color: #ffffff !important;
}

.redes-sociales {
  margin-top: 30px;
  font-size: 18px;
  margin-right: 60px;
}

#navbar-1_nav_top a:hover {
  text-decoration: none;
  color: #E1B168 !important;
}

.btn-support {
  color: #ffffff;
  border-color: #ffffff;
  margin-right: 0px;
}
.btn-support:hover {
  background-color: #0072c6;
  color: #ffffff;
}

.bton-Whatsapp {
  color: #ffffff;
  border-color: #ffffff;
  margin-left: -10px;
}
.bton-Whatsapp:hover {
  background-color: #248e27;
  color: #ffffff;
}

/* Estilos para el Header */
.navbar {
  background: linear-gradient(to right, #000000 10%, #B43123);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.058);
  transition: background 0.3s ease;
}
.navbar:hover {
  background: linear-gradient(to right, #000000 10%, #B43123);
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
  margin-left: 40px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #E1B168;
}

.sections-1 {
  margin-right: 280px;
  width: 100%;
  background-color: transparent;
  transform: translateX(1%);
}

/* // banner ubicacion */
.container-fluid-04 {
  margin-top: auto;
  padding: 0px;
}

.container-banner-ubicacion {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.container-banner-ubicacion img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* fin banner ubicacion */
.container-medios-de-pagos {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.medios-de-pago img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 100px;
  margin-top: 50px;
}

/** banner-video **/
.contenedor-banner-video,
.contenedor-card {
  overflow: hidden;
}

.contenedor-banner-video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.757), rgba(0, 0, 0, 0.44)), url(../images/Nuestra-carta/banner-video.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 80vh;
  display: flex;
  align-items: center;
}

.banner-video {
  width: 60vw;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
}
video[poster] {
  max-width: 100%;
}

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  max-width: 600px;
  z-index: 2;
}

.overlay h1 {
  font-size: 4vw;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.overlay p {
  font-size: 1.125rem;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

/** fin banner-video **/
/* Estilos para el carrusel */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 80px;
}
.carousel-inner img {
  width: 25% !important;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 50px;
  color: #B43123;
}

.carousel-control-prev {
  margin-left: 50px;
  background-color: #B43123;
  width: auto;
  height: 50px;
  margin-top: 160px;
}

.carousel-control-next {
  background-color: #B43123;
  margin-right: 50px;
  width: auto;
  height: 50px;
  margin-top: 160px;
}

/* Estilos generales */
.reservaciones {
  background-image: url(../images/BG/BG-restaurant\.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container-reserva {
  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.container-reserva h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}

.field {
  margin-bottom: 15px;
  width: 100%;
  margin-right: 10px;
  background-color: transparent;
  color: #ffffff;
}

.field-date {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

input {
  padding: 4px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  padding: 4px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 38px;
  background-color: transparent;
  color: #ffffff;
}

.submit button {
  background-color: #B43123;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit button:hover {
  background-color: #af8546;
}

.first-line,
.second-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sections {
  width: 30%;
  margin-bottom: 15px;
}

/** tarjetas producto-info **/
.contenedor-card {
  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Barra search */
.contenedor-menu {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.9rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 20px 0;
}

input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

i.fa-search {
  font-size: 16px;
  margin-left: -40px;
  color: #000000;
  cursor: pointer;
}
i.fa-search:hover {
  color: #E1B168;
}

/* Fin Barra search */
.menu-categorias {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
}
.menu-categorias li {
  margin: 0 10px;
}
.menu-categorias a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.202);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #ffffff;
}
.menu-categorias a:hover {
  background-color: #E1B168;
}

select:focus {
  border-color: #E1B168;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pagination {
  margin: 20px;
}
.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

button.prev, button.next {
  background-color: #d7d7d7;
  color: #000000;
}
button:hover {
  background-color: #E1B168;
}
button.prev:hover, button.next:hover {
  background-color: #ff1900;
}

.product-card {
  width: calc(100% - 20px);
  height: auto;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 10px;
  background: #000000;
  position: relative;
  transition: background-color 0.3s ease;
}
.product-card .badge {
  position: absolute;
  left: 10px;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #ff1900;
  color: #ffffff;
  padding: 3px 20px;
  border-radius: 1px;
}
.product-card .product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px;
  background: #000000;
  border: 2px solid transparent;
}
.product-card .product-tumb img {
  width: 100%;
  height: auto;
  transition: border-color 0.3s ease;
}
.product-card .product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 10px;
}
.product-card .product-details {
  padding: 15px;
}
.product-card .product-details h4 a {
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 10px;
}
.product-card .product-details p {
  line-height: 22px;
  color: #999;
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.product-card .product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.product-card .product-bottom-details div {
  float: left;
  width: 50%;
}
.product-card .product-price {
  color: #ff1900;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.product-card .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 3px;
}
.product-card .product-links {
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.product-card .product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}
.product-card .product-links a:hover {
  color: #E1B168;
}
.product-card:hover {
  background: linear-gradient(to right, #000000, #af8546);
}
.product-card:hover .badge {
  background: #8b6937;
}
.product-card:hover .product-tumb {
  background: linear-gradient(to right, #000000);
}
.product-card:hover .product-tumb img {
  background: linear-gradient(to right, #000000, #af8546);
}

/** quienes somos contenedor **/
.container-fluid-10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-color: #1F242C;
  background-size: cover;
  background-position: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}
.gallery .image-container {
  width: calc(40% - 10px);
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.gallery .image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.overlay:hover {
  opacity: 1;
}

.text {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

/* Estilos para el contenedor principal */
.contenedor-banner-video-2 {
  display: flex;
  background-color: #000000;
}

/* Estilos para el video a la izquierda */
.banner-video-02 {
  width: 100%;
  margin-bottom: 20px;
}

.texto-banner {
  width: 95%;
  padding: 20px;
  box-sizing: border-box;
}
.texto-banner h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}
.texto-banner p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-top: 50px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.texto-Quienes-somos h1,
.texto-Quienes-somos p {
  font-size: 1.125rem;
  position: relative;
  z-index: 2;
}

.contenedor-quienes-somos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-color: #1F242C;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 10vh;
  padding: 20px;
}

.quienes-somos h2 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: 40px 0;
  margin-top: -10px;
}
.quienes-somos h3 {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: -10px 0;
  margin-top: -30px;
  font-size: 23px;
}

.Imagen-banner {
  background-color: #000;
  width: 100%;
}
.Imagen-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  min-height: 200px;
}

.quienes-somos p {
  text-align: start;
  margin: 30px auto;
  font-size: 1.125rem;
  width: 80%;
  line-height: 1.5;
}

/** fin quienes somos contenedor **/
/** blog-img **/
.blog h3,
p {
  font-size: 1.125rem;
  color: #ffffff;
}

/** Fin blog-img **/
/** nuestros locales **/
.locales-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  background-color: #1F242C;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 50px;
}

.local-card {
  background-color: rgba(0, 0, 0, 0.46);
  width: calc(40% - 0px);
  margin-bottom: 30px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 1.9s, border-color 1.9s, transform 1.9s;
}
.local-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  margin-bottom: 20px;
}
.local-card:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.443);
  border: 3px solid #ffffff;
  background-color: #af8546;
}
.local-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  margin-bottom: 20px;
}
.local-card:hover {
  transform: scale(1.1);
}
.local-card h2 {
  font-size: 30px;
  color: #ffffff;
  margin-left: 30px;
}
.local-card p {
  font-size: 1.125rem;
  color: #ffffff;
  margin-top: -10px;
  margin-left: 30px;
}

.contact-info {
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 30px;
}

.intro {
  margin-bottom: 10px;
  text-align: center;
}
.intro h1 {
  margin-top: 30px;
}
.intro p {
  font-size: 1.125rem;
  margin-top: 10px;
}

/** fin nuestros locales **/
/** MAPA **/
.texto-contenedor {
  padding: 10px;
  z-index: 2;
  margin: 0px;
}

.texto-mapa h3 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}
.texto-mapa p {
  font-size: 1.125rem;
  color: #ffffff;
  text-align: center;
  margin-top: -10px;
}

.container-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
}

.maps-iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

/** FIN MAPA**/
/** FORMULARIO DE CONTACTO **/
ul {
  list-style: none;
  padding: 0;
}

.container-contactos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}
.container-contactos h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}
.container-contactos p {
  font-size: 1.125rem;
  text-align: center;
}

/* ------------------- */
/*INFORMACIÓN DE LA EMPRESA */
/* ------------------- */
.company-info {
  background-color: #B43123;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.company-info .arroz-image img {
  margin: 8vh auto 40px auto;
  width: 10%;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}
.company-info h3, .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #ffffff;
}

/* ------- */
/* CONTACTO */
/* ------- */
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.44)), url(../images/BG/BG-restaurant.jpg);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.contact form label {
  display: block;
  color: #ffffff;
}
.contact form p {
  font-size: 1.125rem;
  margin: 0;
  text-align: center;
}
.contact form .full {
  grid-column: 1/3;
}
.contact form button, .contact form input {
  width: 100%;
  padding: 0.3em;
  border: solid 1px #E1B168;
  border-radius: 4px;
}
.contact form textarea {
  width: 100%;
  padding: 0.3em;
  border: solid 1px #E1B168;
  border-radius: 4px;
  resize: none;
}
.contact form button {
  background: #B43123;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}
.contact form button:hover, .contact form button:focus {
  background: #af8546;
  color: #ffffff;
  outline: 0;
  transition: background-color 0.3s ease-out;
}

/* ---- */
/* FORM */
/* ---- */
/** fin formulario de contacto **/
/* media queries----------------------------------------------------------------------------------------------- */
@media screen and (min-width: 993px) and (max-width: 1049px) {
  body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  .container-01 video {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .container-fluid-02 .info-ico {
    display: flex;
  }
  .container-fluid-02 img {
    width: 40px;
    margin: 0 30px;
  }
  .container-fluid-02 p {
    font-size: 1rem;
    margin-left: 40px;
    width: 65%;
    text-align: center;
    margin-top: 20px;
  }
  .contenedor-info-02 {
    max-width: 100%;
  }
  .contenedor-info-02 .contenedor-info-local {
    max-width: 100%;
  }
  .contenedor-info-02 .contenedor-info-local h2 {
    margin: 0 auto;
  }
  /* Estilos para el carrusel */
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 100px;
  }
  .info-top {
    margin-top: 60px;
    margin-left: 260px;
  }
  .banner-video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  .overlay-container h1 {
    font-size: 30px;
    margin: 0;
  }
  .overlay-container p {
    font-size: 1rem;
    margin-top: 10px;
  }
  .menu-categorias {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-categorias li {
    margin: 13px;
  }
  .product-card {
    width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px;
    background: #000000;
  }
  .product-tumb {
    height: auto;
    padding: 10px;
  }
  .product-tumb img {
    width: 100%;
    height: auto;
  }
  .product-catagory {
    margin-bottom: 10px;
  }
  .product-details {
    padding: 15px;
  }
  .product-details h4 a {
    margin-bottom: 10px;
  }
  .product-details p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .product-price,
  .product-links {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .product-price small {
    margin-right: 3px;
  }
  .subir {
    right: 5%;
    bottom: 5%;
    transform: translateX(-80px);
    z-index: 4;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-brand img {
    position: relative;
    z-index: 10;
  }
  .botones-1 {
    transform: none;
    margin-left: auto;
  }
  .container-arriba,
  .container-abajo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: 3;
  }
  .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #000000 10%, #B43123);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.058);
    transition: background 0.3s ease;
  }
  .navbar-collapse:hover {
    background: linear-gradient(to right, #000000 10%, #B43123);
  }
  .navbar-nav {
    margin-bottom: 20px;
    margin-top: 90px;
  }
  .sections-1 {
    margin-bottom: 10px;
    margin-right: 0;
    transform: none;
  }
  .navbar-nav .nav-link {
    margin-left: 0;
    padding: 20px 20px;
    display: block;
    border-bottom: 1px solid #ffffff;
    margin-top: 30px;
  }
  .navbar-nav .nav-link:hover {
    color: #E1B168;
  }
  .container-01 video {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .container-fluid-02 .info-ico {
    display: flex;
    margin-bottom: 10px;
  }
  .container-fluid-02 img {
    width: 40px;
    margin-right: 10px;
  }
  .container-fluid-02 .text-info {
    flex-grow: 1;
  }
  .container-fluid-02 p {
    font-size: 0.875rem;
    text-align: left;
    margin-top: 20px;
  }
  .medios-de-pago {
    text-align: center;
    margin-top: 30px;
  }
  .medios-de-pago img {
    width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 100%;
    margin: auto;
    display: block;
  }
  .info-text .btn-container {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  /* Estilos para el carrusel */
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 100px;
  }
  .info-top {
    margin-top: 60px;
    margin-left: 260px;
  }
  .banner-video {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  .overlay-container h1 {
    font-size: 30px;
    margin: 0;
  }
  .overlay-container p {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .menu-categorias {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-categorias li {
    margin: 13px;
  }
  .product-card {
    width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px;
    background: #000000;
  }
  .product-tumb {
    height: auto;
    padding: 10px;
  }
  .product-tumb img {
    width: 100%;
    height: auto;
  }
  .product-details {
    padding: 15px;
  }
  .product-catagory {
    margin-bottom: 10px;
  }
  h4 a {
    margin-bottom: 10px;
  }
  p {
    font-size: 0.875rem;
    margin-bottom: 10px;
  }
  .product-price,
  .product-links {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .product-price small {
    margin-right: 3px;
  }
  .subir {
    right: 5%;
    bottom: 5%;
    transform: translateX(-50px);
    z-index: 4;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .botones-1 {
    transform: none;
    margin-left: auto;
  }
  .navbar-brand img {
    position: relative;
    z-index: 10;
  }
  .container-arriba,
  .container-abajo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    max-width: 100%;
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: 3;
  }
  .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #000000 10%, #B43123);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.058);
    transition: background 0.3s ease;
  }
  .navbar-collapse:hover {
    background: linear-gradient(to right, #000000 10%, #B43123);
  }
  .navbar-nav {
    margin-bottom: 20px;
    margin-top: 90px;
  }
  .sections-1 {
    margin-bottom: 10px;
    margin-right: 0;
    transform: none;
  }
  .navbar-nav .nav-link {
    margin-left: 0;
    padding: 20px 20px;
    display: block;
    border-bottom: 1px solid #ffffff;
    margin-top: 30px;
  }
  .navbar-nav .nav-link:hover {
    color: #E1B168;
  }
  .container-01 {
    max-width: 100%;
  }
  .container-01 h1 {
    font-size: 18px;
  }
  .container-01 h1:hover {
    font-size: 18px;
  }
  .container-01 p {
    font-size: 0.75rem;
  }
  .container-01 video {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .container-fluid-02 {
    max-width: 100%;
  }
  .container-fluid-02 .info-ico {
    display: list-item;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .container-fluid-02 .info-ico img {
    width: 40px;
    margin: 0;
    margin-bottom: 40px;
  }
  .container-fluid-02 .info-ico p {
    font-size: 0.75rem;
    width: 30%;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: translateY(-45px);
    margin-right: auto;
    margin-left: auto;
  }
  .contenedor-info-02 {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .info-text {
    margin: 0 auto 50px;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .info-text h2 {
    margin-top: -80px;
    width: 100%;
    font-size: 18px;
  }
  .info-text p {
    width: 100%;
    font-size: 0.75rem;
  }
  .info-text .btn-container {
    margin-top: 30px;
    width: 100%;
  }
  .info-local {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
  }
  .info-local img {
    width: 220px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .container-top-10 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* Estilos para el carrusel */
  }
  .container-top-10 .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 80px;
    max-width: 40%;
  }
  .container-top-10 .carousel-inner img {
    width: 100% !important;
    height: auto;
  }
  .container-top-10 .carousel-control-prev {
    margin-left: 20px;
  }
  .container-top-10 .carousel-control-next {
    margin-right: 20px;
  }
  .platos-10 {
    margin-left: auto;
  }
  .platos-10 img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
  .info-top {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .info-top h4 {
    text-align: center;
  }
  .info-top p {
    text-align: center;
    font-size: 0.75rem;
  }
  .info-top .btn-container {
    text-align: center;
  }
  .container-banner-ubicacion {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .container-banner-ubicacion img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .medios-de-pago {
    text-align: center;
    margin-top: 40px;
    max-width: 100%;
  }
  .medios-de-pago img {
    width: 60%;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 100%;
    margin: auto;
    display: block;
  }
  .clientes-info h2 {
    font-size: 18px;
  }
  .clientes-info p {
    font-size: 0.75rem;
  }
  .tarjeta-1,
  .tarjeta-2,
  .tarjeta-3,
  .tarjeta-4 {
    width: 230px;
    margin: 0 10px;
  }
  .tarjeta-1 .contenido h2,
  .tarjeta-2 .contenido h2,
  .tarjeta-3 .contenido h2,
  .tarjeta-4 .contenido h2 {
    font-size: 18px;
  }
  .tarjeta-1 .contenido span,
  .tarjeta-2 .contenido span,
  .tarjeta-3 .contenido span,
  .tarjeta-4 .contenido span {
    font-size: 16px;
  }
  .tarjeta-1 .contenido p,
  .tarjeta-2 .contenido p,
  .tarjeta-3 .contenido p,
  .tarjeta-4 .contenido p {
    font-size: 0.75rem;
  }
  .reservaciones {
    max-width: 100%;
  }
  .reservaciones form {
    width: 80%;
  }
  .banner-video {
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  .overlay-container h1 {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
  }
  .overlay-container p {
    font-size: 8px;
    margin-top: 5px;
  }
  .menu-categorias {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .menu-categorias li {
    margin: 13px;
  }
  .product-card {
    width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px;
    background: #000000;
  }
  .product-tumb {
    height: auto;
    padding: 10px;
  }
  .product-tumb img {
    width: 100%;
    height: auto;
  }
  .product-details {
    padding: 15px;
  }
  .product-catagory {
    margin-bottom: 10px;
  }
  h4 a {
    margin-bottom: 10px;
  }
  p {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
  .product-price,
  .product-links {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .product-price small {
    margin-right: 3px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }
  .pagination {
    margin: 20px;
  }
  .pagination button {
    padding: 8px 8px;
    margin: 0 3px;
  }
  .search-container {
    margin-right: 20px;
  }
  .container-contactos {
    display: grid;
    grid-template-columns: 12fr;
  }
  .container-contactos h1 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
  }
  .container-contactos p {
    font-size: 0.75rem;
    text-align: center;
  }
  .local-card h2 {
    font-size: 20px;
  }
  .contact-info span {
    font-size: 10px;
  }
  .company-info {
    display: block;
    grid-template-columns: 1fr;
    background-color: #B43123;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
  }
  .company-info .arroz-image img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    width: 30%;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  .company-info h3 {
    font-size: 16px;
    margin-top: 20px;
  }
  .company-info ul {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
  }
  .contact {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  .contact h3 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .contact form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
  }
  .contact form span {
    font-size: 13px;
  }
  .contact form label {
    display: block;
    color: #ffffff;
  }
  .contact form button {
    background: #B43123;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .contact form button:hover, .contact form button:focus {
    background: #af8546;
    color: #ffffff;
    outline: 0;
    transition: background-color 0.3s ease-out;
  }
  .gallery {
    flex-direction: column;
  }
  .gallery .image-container {
    width: 100%;
  }
  .text h3 {
    font-size: 13px;
  }
  .text p {
    font-size: 0.75rem;
  }
  .local-card {
    flex-direction: column;
    width: 100%;
  }
  .texto-banner {
    text-align: center;
    margin: 0 auto;
  }
  .subir {
    right: 5%;
    bottom: 5%;
    transform: translateX(-30px);
  }
}
@media screen and (min-width: 576px) {
  .info-text {
    transform: translateX(150px);
  }
  .platos-10 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(50px);
  }
}
/* footer-------------------------------------------------------------------------------------------------- */
/* Estilos generales del footer */
footer {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 0px;
  background: linear-gradient(to right, #000000 5%, #B43123);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.101);
  transition: background 0.9s ease;
}
footer:hover {
  background: linear-gradient(to right, #B43123 5%, #000000);
}

.container-logo {
  text-align: center;
}

.logo-footer img {
  max-width: 190px;
  height: auto;
  margin-top: 30px;
}

/* Estilos para el contenido dentro del footer */
footer .social-icons a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 10px;
}

footer h4 {
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}

footer p {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
}

/* Estilos para el formulario de suscripción */
.subscribete-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.subscribete-form input {
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.subscribete-form button {
  background-color: #E1B168;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-top: -57px;
}

/* Estilos para el copyright */
.copyright span {
  font-size: 13px;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #E1B168;
  color: #E1B168;
  position: fixed;
  right: 2%;
  bottom: 2%;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  border-radius: 10%;
  box-shadow: 2px 2px 5px #000;
  z-index: 3;
}

.subir svg {
  margin-top: 8px;
  margin-left: 0px;
  font-size: 20px;
  transform: translateX(-5%);
}/*# sourceMappingURL=estilos.css.map */