/* Error: Undefined mixin.
 *     ,
 * 254 | /   @include sm{
 * 255 | |     width: calc(50% - 8px);
 * 256 | \   }
 *     '
 *   assets/scss/_index.scss 254:3  @import
 *   assets/scss/estilos.scss 5:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 254 \2502  \250c    @include sm{\a 255 \2502  \2502      width: calc(50% - 8px);\a 256 \2502  \2514    }\a     \2575 \a   assets/scss/_index.scss 254:3  @import\a   assets/scss/estilos.scss 5:9   root stylesheet";
}
